<nav>
  <div class="py-4 py-sm-3 container">
    <div class="d-flex d-md-flex-wrap">
      <div class="d-flex align-items-center w-100">
        <div class="me-12">
          <a href="index.html"
            ><img src="../assets/images/logo.svg" alt="logo"
          /></a>
        </div>
        <ul class="d-flex d-sm-none">
          <li class="py-3 me-10">
            <a
              class="fw-500 text-decoration-none text-neutral-900"
              href="product-list.html"
              >商品列表</a
            >
          </li>
          <li class="py-3">
            <a
              class="fw-500 text-decoration-none text-neutral-900"
              href="brand-story.html"
              >品牌故事</a
            >
          </li>
        </ul>
        <div class="ml-auto">
          <a href="product-login.html"
            ><i class="bi bi-person text-neutral-900"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</nav>
